{% extends 'list.html' %}
{% load static %}

    {% block buscar %}
        <form action="" method="GET">
          <div class="input-group btn-group-sm ">
            <input class="form-control" type="text" name="query" value="{{ query }}" placeholder="Buscar... por nombre" id="idInputSearch" aria-describedby="basic-addon2"/>
            <button type="submit" class="btn btn-primary" id="idSearchSp"><span style="font-size:20px ">🔎</span></button>
          </div>
      </form>
    {% endblock %}

    {% block columns %}
        <tr>
           <th>Foto</th>
           <th>Nombre</th>
           <th>Cedula</th>
           <th>Email</th>
           <th>Sexo</th>
           <th>Estado</th>
           <th>Acciones</th>
        </tr>
    {% endblock %}

    {% block rows %}
      {% for cliente in clientes %}
        <tr>
           <td> <img src="{{ cliente.get_image}}" width="40px"></td>
           <td>{{cliente.nombre}}</td>
           <td>{{cliente.cedula}}</td>
            <td>{{cliente.email}}</td>
           <td>{{cliente.get_sexo_display}}</td>
           <td>{% if cliente.estado %}
                 Activo
               {% else %}
                 Cancelado
               {% endif %}
           </td>
           <td>
             <button type="button" class="btn btn-link"
                onclick="mostrarModal({{ cliente.pk }})">👁️👁️</button>
              <a href="{% url 'editar_cliente' cliente.id %}">📝</a>
              <a href="{% url 'eliminar_cliente' cliente.id %}">❌</a>

           </td>
        </tr>
        {% block modal %}
           <div class="modal fade" id="clienteModal{{ cliente.pk }}" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel{{ cliente.pk }}" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header bg-secondary">
                    <h5 class="modal-title text-white " id="clienteModalLabel{{ cliente.pk }}">Datos del Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="body">
                     <div class="d-flex justify-content-center">
                       <img src="{{ cliente.get_image}}" width="500px">
                       <div class="datos">
                       <p>{{cliente.nombre}}</p>
                       <p>{{cliente.cedula}}</p>
                       <p>{{cliente.ciudad.descripcion}}</p>
                       <p>{{cliente.email}}</p>
                       <p>{{cliente.get_sexo_display}}</p>
                       <p>{{cliente.cupo}}</p>
                       <p>{% if cliente.estado %}
                             Activo
                           {% else %}
                             Cancelado
                           {% endif %}
                       </p>
                      </div>
                     </div>
                  </div>
                  <div class="modal-footer  text-white">
                    <button type="button" class="btn btn-success btn-block text-center" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
           </div>
         {% endblock %}
      {% endfor %}
    {% endblock %}

    {% block pagineo %}
      <nav aria-label="Page navigation example" style="margin-top: -2.5rem">
        <ul class="pagination justify-content-center mt-5">

                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                        {% endif %}

                        {% for i in page_obj.paginator.page_range %}

                            {% if i == page_obj.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                            </li>
                        {% endif %}

                    </ul>
      </nav>
    {% endblock %}

    {% block botones_pie %}
       <a class="btn btn-dark" href="{% url 'crear_cliente' %}">Nuevo Registro</a>
    {% endblock %}



{% block js %}
   <script>
     function mostrarModal(pk) {
       console.log('#clienteModal' + pk);
       $('#clienteModal' + pk).modal('show');
     }
   </script>
{% endblock %}